--charset UTF-8
--default-return void
--embed-mixins
--hide-api private
--hide-void-return
--locale en_US.UTF-8
--markup markdown
--no-private
--output-dir doc/yard
#--private
--protected
--readme README.md
--template-path yard-template
--title 'Rack::RPC - JSON-RPC/XML-RPC Server for Rack Applications'
lib/**/*.rb
-
AUTHORS.md
UNLICENSE.md
